.required_key_field { color:red; margin-bottom:11px; padding-left:4px; }
.widefat .row_postlisting { padding: 10px 7px 5px 0px; }
.header_category { margin-top: 20px; margin-bottom: 10px; font-weight: bold; font-size: 18px; }
.row_category { float: left; padding: 8px 10px 3px 0px; }
table.plgsoft-paging { padding-top: 15px; }
.plgsoft-paging-center { padding: 0 10px; }
.plgsoft-paging-center a { padding: 0 3px; text-decoration: none; color: #3A3A3A; font-weight: bold; }
.plgsoft-paging-center a:hover { color: #132C99; text-decoration: underline; }
.plgsoft-paging-center a.pageselected { font-weight: bold; color: #821306; font-size: 16px; }
.plgsoft-paging-left a, .plgsoft-paging-right a { font-weight: bold; text-decoration: none; color: #132C99; padding-right: 10px; }
.message_errors line { color: #992A1B; }
.current_paging { margin-left: 1px; padding: 3px 10px; border: 1px solid #AAA; background-color: #1C5EA0; color: white; text-decoration: none; }
.not_current_paging {
	margin-left: 1px; padding: 3px 10px; border: 1px solid #AAA; background-color: #E6ECEF; color: #333; text-decoration: none;
}
.column-spotlight {
    width: 75px;
    text-align: center !important;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
}
.column-featured {
	width: 80px;
	text-align: center !important;
	border-right: 1px solid #ddd !important;
}
.column-thumb { width: 55px; }
.span6 { float: left; width: 48%; margin-left: 1%; }
.disabled_quotes { border: 1px solid #077acc; }
.column-status-listings { width: 55px; }
.column-membership-listings { width: 85px; }
.column-category { width: 110px; }
.column-state_city { width: 90px; }
.column-reviews-listings { width: 55px; text-align: center !important; }